* {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header.header-top {
    background: #fff;
    z-index: 99;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

header.header-top>.main-container {
    width: 100%;
    max-width: 1320px;
    flex-direction: column;
}

header.header-top .header-btn-logo {
    padding: 10px;
}

header .navbar {
    background-color: #fff;
    padding: 0;
    width: 100%;
    overflow: auto;
}

header .navbar>ul {
   margin: 0 auto;
   padding: 0;
   width: 100%;
   max-width: 1200px;
}

header .navbar .main-nav-tab {
    color: #000;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    line-height: 120%;
    position: relative;
    cursor: pointer;
    padding: 0 .5rem;
}

header .navbar .main-nav-tab .nav-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: linear .1s;
    align-items: center;
    position: relative;
    padding: .5rem 1rem 0 1rem;
}

header .navbar .main-nav-tab .nav-txt::after {
    content: "";
    width: calc(100% + 2rem);
    height: 3px;
    margin: 2px 0 0 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
}

header .navbar .main-nav-tab.active .nav-txt {
    color: #8c7ffd;
    background-color: #000;
}

header .navbar .main-nav-tab.active .nav-txt::after {
    height: 3px;
}

header .navbar .main-nav-tab.active::after {
    content: "";
    right: 10%;
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    color: #20b2aa;
    display: none;
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 14px;
}