* {

    font-family: "Overpass", sans-serif;

    font-optical-sizing: auto;

    font-weight: 500;

    font-style: normal;

}
header.header-top {
    background: #ffffff;
    z-index: 99;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;

    > .main-container {
        width: 100%;
        max-width: 1320px;
        flex-direction: column;
    }
    .header-btn-logo {
        padding: 10px;
    }
}

header {
    .navbar {
        background-color: #ffffff;
        padding: 0;
        width: 100%;
        overflow: auto;

        > ul {
            margin: 4px auto;
            padding: 0;
        }

        .main-nav-tab {
            color: #000;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: keep-all;
            line-height: 120%;
            position: relative;
            cursor: pointer;
            padding: 0 0.5rem;
            .nav-txt {
                display: flex;
                flex-direction: column;
                width: 100%;
                transition: linear .1s;
                align-items: center;
                position: relative;
                padding: 0.5rem 1rem 0 1rem;
                &::after {
                    content: '';
                    width: calc(100% + 2rem);
                    height: 3px;
                    margin: 2px 0 0 0;
                    border-radius: 4px;
                    background-color: transparent;
                    bottom: 0;
                }
            }

            &.active {
                .nav-txt {
                    color: rgb(109, 255, 51);
                    background-color: rgb(18, 26, 25);
                    &::after {
                        height: 3px;
                        background-color: rgb(18, 26, 25);
                    }
                }
                &::after {
                    content: "\f054";
                    right: 10%;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 800;
                    color: lightseagreen;
                    display: none;
                    margin-left: 4px;
                    margin-bottom: 2px;
                    font-size: 14px;
                }
            }
        }
    }
}

// 規則
.rules-section {
    border: 1px solid rgb(62, 147, 196);
    .rule_tab_list {
        list-style: none;
        padding: 0;
        display: flex;
        li {
            padding: .25rem .5rem;
            border: 1px solid black;
            margin: 0 8px;
            &.active {
                background-color: navy;
                color: antiquewhite;
            }
        }
    }
    .content-panel {
        display: none;
        &.is-show {
            display: block;
            animation: fadeIn .4s linear;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.fixed_bar {
    position: fixed;
    right: 0;
    top: 10%;
    background-color: #000;
    .rule_tab {
        color: #fff;
        list-style: none;
        padding: 8px 12px;
    }
}